<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <h1>Hello. Please select an option.</h1>
    <form action="/bookmarks/index" method="get">
      <input type="submit" value="View Index">
    </form>
  </body>
</html>
