<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <h1>Add New Bookmark</h1>
    <form action="/create" method="post">
      <input type="title" name="title" placeholder="title">
      <input type="text" name="url" placeholder="url">
      <input type="submit" value="Add New Bookmark">
    </form>
    <form action="/" method="get">
      <input type="submit" value="Main Menu">
    </form>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[:invalid_url] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  </body>
</html>
