<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
  </head>
  <body>
    <h1>Add New Bookmark</h1>
    <form action="/create" method="post">
      <input type="text" name="url">
      <input type="submit" value="Add New Bookmark">
    </form>
  </body>
</html>
